/*
*	Responsive styles
*/
@media (max-width: 1400px) {

	/* Single post */
	.single-post .saxon-social-share-fixed {
		display: none;
	}
}

@media (max-width: 1200px) {

	/* Homepage blocks */
	.saxon-subscribe-block .mc4wp-form input[name="EMAIL"] {
		width: 200px!important;
	}
	.col-md-12 .saxon-masonry-post.saxon-post .saxon-post-image-wrapper .saxon-post-image {
		width: auto;
	}

}

@media (max-width: 1024px) {

	/* Header */
	.mainmenu .nav > li > a {
		padding-left: 10px;
		padding-right: 10px;
	}
	header .header-blog-info {
		display: none;
	}
	header .logo-link img {
		max-width: 200px;
	}

	/* Single post */
	.blog-small-page-width .post-container .col-md-12 .blog-post.blog-post-single,
	.blog-small-page-width .page-container .col-md-12 .entry-content,
	.blog-small-page-width .post-container .author-bio,
	.blog-small-page-width .post-container .navigation-post,
	.blog-small-page-width .post-container .comments-form-wrapper,
	.blog-small-page-width .post-container .blog-post-related-wrapper,
	.blog-small-page-width .post-container .comments-area,
	.page.blog-small-page-width .page-container .col-md-12 .comments-form-wrapper,
	.page.blog-small-page-width .page-container .col-md-12 .comments-area,
	.single-post.blog-small-page-width .post-container .col-md-12 .saxon-subscribe-block {
	    margin-left: 0!important;
	    margin-right: 0!important;
	}
	.post-worthreading-post-wrapper {
		display: none;
	}

	/* Blog layouts */
	.blog-posts-list.blog-layout-masonry,
	.col-md-8 .blog-posts-list.blog-layout-masonry {
	    -moz-column-count: 2;
	    -webkit-column-count: 2;
	    column-count: 2;
	}
	.blog-posts-list.blog-layout-masonry .blog-post {
	    width: 50%;
	}

	/* Homepage blocks */
	.saxon-postsgrid2-block-wrapper .saxon-post .saxon-post-details {
		padding: 30px;
		min-height: 0;
	}
	.saxon-postsgrid1-block-wrapper .col-md-12,
	.saxon-postsgrid2-block-wrapper .col-md-12,
	.saxon-postsgrid3-block-wrapper .col-md-12,
	.saxon-postsgrid4-block-wrapper .col-md-12,
	.saxon-postsgrid5-block-wrapper .col-md-12,
	.saxon-postsgrid6-block-wrapper .col-md-12 {
		width: 100%;
	}
	.saxon-postsgrid2-block-wrapper .col-md-6, {
		width: 50%;
	}
	.saxon-postsgrid3-block-wrapper .col-md-3,
	.saxon-postsgrid6-block-wrapper .col-md-3 {
			width: 25%;
	}
	.saxon-postsgrid1-block-wrapper .col-md-4,
	.saxon-postsgrid4-block-wrapper .col-md-4 {
		width: 33.33%;
	}
	.saxon-showcase3-block-wrapper .col-md-3:last-child .saxon-post {
		margin-bottom: 0;
	}

	/* Social icons */
   	.social-icons-wrapper a:first-child {
   		margin-left: 10px;
   	}

}
@media (max-width: 991px) {

	/* Sidebars */
	.sidebar.sidebar-right #page-sidebar,
	.sidebar.sidebar-right #post-sidebar,
	.sidebar.sidebar-right #main-sidebar,
	.sidebar.sidebar-right #woocommerce-sidebar {
		padding-left: 0;
	}
	.sidebar.sidebar-left #page-sidebar,
	.sidebar.sidebar-left #post-sidebar,
	.sidebar.sidebar-left #main-sidebar,
	.sidebar.sidebar-left #woocommerce-sidebar {
		padding-right: 0;
	}

	/* Footer */
	footer .footer-copyright,
	footer .footer-social .social-icons-wrapper,
	footer .footer-menu > div {
		text-align: center;
	}
	footer .footer-social .social-icons-wrapper {
		margin-top: 10px;
	}

	/* Homepage blocks */
	.saxon-postsmasonry1-block-wrapper .col-md-7 {
	    padding-right: 15px;
	}
	.saxon-postsmasonry1-block-wrapper .col-md-7 .saxon-post {
	    margin-bottom: 40px;
	}
	.saxon-postline-block .saxon-postline-block-left {
		width: 100%;
	}
	.saxon-postline-block .saxon-postline-block-right {
		display: none;
	}
	.saxon-postsmasonry2-block-wrapper .col-md-5,
	.saxon-postsmasonry2-block-wrapper .col-md-4 {
		margin-bottom: 60px;
	}

	/* Single post */
	.navigation-post:before {
	    display: none;
	}
	.navigation-post .nav-post-prev {
		margin-bottom: 30px;
	}
	.navigation-post .nav-post-next a.nav-post-title-link {
		order: 2;
		margin-left: 0;
		padding-left: 0;
		padding-right: 30px;
		text-align: left;
	}
	.navigation-post .saxon-post.nav-post-next .saxon-post-image-wrapper {
		margin-left: -15px;
		margin-right: 30px;
	}
	.comments-area .navigation-paging .nav-previous,
	.comments-area .navigation-paging .nav-next {
	    width: 100%;
	    text-align: center;
	}
	.comments-area .navigation-paging .nav-previous a,
	.comments-area .navigation-paging .nav-next a {
		min-width: 210px;
	}
	.comments-area .navigation-paging .nav-previous {
		margin-bottom: 15px;
	}

	/* MOBILE MENU - Breakpoint override */

	/* Header */
	header.main-header {
		margin-top: 40px;
		margin-bottom: 40px;
		background: none!important;
	}
	header.main-header.sticky-header.fixed {
	    display: none!important;
	}
	header > .container > .row {
		margin: 0;
	}
	header .col-md-12 {
		flex-wrap: wrap;
		height: auto!important;
	}
	header .header-left,
	header .header-right {
		width: 50%;
		flex-grow: 0;
		flex-shrink: 0;
	}
	header .header-center {
		order: 3;
		width: 100%;
	}
	header .header-left {
		padding-left: 0;
		display: flex;
		align-items: center;
	}
	header .header-right {
		padding-right: 0;
	}
	header .logo {
		margin-right: 15px;
	}

	/* Fullscreen search */
	.search-fullscreen-wrapper .search-fullscreen-form {
	    margin-top: 200px;
	}
	.search-fullscreen-wrapper .search-fullscreen-form input[type="search"] {
		width: 300px;
		font-size: 18px;
	}

	/* Menus */
	.header-menu .menu-top-menu-container-toggle + div {
		display: none;
	}
	.header-menu .menu-top-menu-container-toggle {
		display: block;
	}
	.header-menu .menu-top-menu-container-toggle + div {
	    position: absolute;
	    width: 100%;
	    z-index: 1000;
	    background: #eeeeee;
    	padding-top: 10px;
		padding-bottom: 10px;
	}
	.header-menu .menu-top-menu-container-toggle + div li {
		float: none;
	}
	.header-menu .menu-top-menu-container-toggle + div li a {
		width: 100%;
		padding: 6px 25px!important;
	}
	.header-menu li.menu-item-has-children > a:after {
	    display: inline-block;
	    font-family: "fontawesome";
	    content: "";
	    margin-left: 5px;
	    font-weight: normal;
	    float: right;
	}
	.header-menu li {
		float: none!important;
	}
	.header-menu li:hover > ul {
		display: none;
	}
	.header-menu li ul {
		position: relative;
		background: transparent;
		margin-left: 10px;
	}
	.header-menu li ul a {
	    min-height: 0;
	    border: 0!important;
	}
	.header-menu .sub-menu {
		display: none;
	}
	.header-menu .sub-menu,
	.header-menu .sub-menu a {
		border: none;
	}
	.header-menu .sub-menu li a:hover {
	    background: none;
	}
	.header-menu .sub-menu li .sub-menu {
		margin-top: 0;
		right: auto;
		padding-left: 0!important;
	}
	.header-menu .sub-menu li .sub-menu li .sub-menu {
		margin-top: 0;
	}

	/* Menus */
	.navbar-collapse.collapse {
       display: none !important;
   	}
   	.navbar-collapse.collapse.in {
       display: block !important;
   	}
	.navbar .navbar-toggle {
		display: none;
	}
	.nav > li {
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	.nav > li.menu-item > a:hover {
		color: inherit!important;
	}
	.nav li.menu-item:hover > .sub-menu {
		display: none;
	}
	.nav > li.menu-item-has-children > a:after {
		margin-top: 0;
		margin-right: 0;
		float: right;
		content: "";
	}
	.nav li {
		display: block;
		width: 100%;
	}
	.nav > li.menu-item > a {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		border: none;
		background: none;
	}
	.nav > li.menu-item > a span {
		display: none;
	}
	.nav > li > a:hover {
		border: none;
	}
	.navbar .nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.nav > li .sub-menu,
	.nav > li .sub-menu:hover {
		display: none;
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
	.nav .sub-menu {
		z-index: 0;
		padding: 0;
		position: relative;
		margin-left: 10px;
		border: none!important;
		box-shadow: none!important;

		margin-top: 0!important;
		margin-left: 0;
	    left: 0!important;
	}
	.nav .sub-menu li .sub-menu {
		margin-top: 0!important;
		position: relative;
		right: auto!important;
	}
	.nav .sub-menu li.menu-item > a + ul > li.menu-item > a {
		padding-left: 30px!important;
	}
	.nav .sub-menu li.menu-item > a {
		min-height: 0;
		background: none;
		padding: 10px 0;
		padding-left: 15px;
		display: block;
		width: auto;
		border: none!important;
	}
	.nav .sub-menu li.menu-item > a:hover {
	    background: none;
	}
	.mainmenu {
		background: none!important;
	}
	.mainmenu-mobile-toggle {
		display: inline-block;
	}
	.mainmenu .nav > li > a {
		font-size: 16px;
		padding-left: 0;
		padding-right: 0;
	}
	.mainmenu .nav {
		margin-top: 40px;
		display: block;
	}
	.mainmenu .container {
		padding: 0;
	}
	.mainmenu.mainmenu-noarrow .navbar .nav > li.menu-item-has-children > a:after {
		display: block;
	}
	.mainmenu.mainmenu-rightarrow .navbar .nav > li.menu-item-has-children > a:after {
		margin-top: -13px;
	}

	/* Homepage blocks */
	.saxon-showcase1-block-wrapper .col-md-5 {
		margin-bottom: 30px;
	}
	.saxon-showcase1-block-wrapper .col-md-5 .saxon-post .saxon-post-details {
    	min-height: 236px;
	}
	.saxon-showcase1-block-wrapper .col-md-7 {
	    padding-left: 15px;
	}
	.saxon-showcase1-block-wrapper .col-md-7 .saxon-post {
	    width: 100%;
	    margin-bottom: 30px!important;
	}
	.saxon-showcase1-block-wrapper .col-md-7 .saxon-post:last-child {
		margin-bottom: 0!important;
	}
	.saxon-showcase1-block-wrapper .col-md-7 .saxon-post {
	    padding-left: 0!important;
	    padding-right: 0!important;
	}
	.saxon-showcase2-block-wrapper .col-md-12 .saxon-post .saxon-post-details {
	    min-height: 380px;
	}
	.saxon-showcase2-block-wrapper .col-md-12 .saxon-post .post-title {
	    font-size: 24px;
	    max-width: 100%;
	}
	.saxon-showcase3-block-wrapper .saxon-overlay-alt-post.saxon-post .saxon-post-details {
	    min-height: 380px;
	}

	/* Banners */
	.saxon-bb-block.saxon-bb-block-inside_header {
		padding: 0;
		margin-top: 30px;
	}

}

@media (max-width: 979px)  {

	/* Menus */
	.header-menu .row {
		margin-left: 0!important;
		margin-right: 0!important;
	}
	.header-menu .col-md-12 {
		padding: 0;
	}

	/* Footer */
	.sidebar.footer-sidebar-2 > ul > li,
	.sidebar.footer-sidebar-2 > ul > li:nth-child(1),
	.sidebar.footer-sidebar > ul > li {
	    width: 50%;
	}
	.sidebar.footer-sidebar > ul > li.widget:nth-of-type(3n) {
	    padding-right: 30px;
	}
	.sidebar.footer-sidebar > ul > li.widget:nth-of-type(2n) {
	    padding-right: 0;
	}
	.sidebar.footer-sidebar.sidebar.container > ul#footer-sidebar {
	    margin-left: 0;
	    margin-right: 0;
	}

	/* Single post */
	.comments-area input[type="text"] {
	    width: 100%;
	}

	/* Homepage blocks */
	.saxon-blog-posts-slider .saxon-post {
		display: block;
	}
	.saxon-blog-posts-slider .saxon-post .saxon-post-image-wrapper {
		width: 100%;
	}
	.saxon-blog-posts-slider {
		height: auto!important;
	}
	.saxon-postsgrid1-block-wrapper .col-md-4,
	.saxon-postsgrid2-block-wrapper .col-md-6,
	.saxon-postsgrid3-block-wrapper .col-md-3,
	.saxon-postsgrid4-block-wrapper .col-md-4,
	.saxon-postsgrid5-block-wrapper .col-md-3,
	.saxon-postsgrid6-block-wrapper .col-md-3 {
		width: 50%;
	}

	/* Blog layouts columns structure */
	.blog-posts-list.saxon-blog-col-3 {
	    display: block;
	}
	.blog-posts-list.saxon-blog-col-3 .blog-post {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.blog-posts-list.saxon-blog-col-3 .blog-post:nth-child(3n-2) {
	    padding-right: 0;
	}
	.blog-posts-list.saxon-blog-col-3 .blog-post:nth-child(3n+3) {
	    padding-left: 0;
	}

	.blog-posts-list.saxon-blog-col-1-3 {
	    display: block;
	    margin-left: 0;
		margin-right: 0;
	}
	.blog-posts-list.saxon-blog-col-1-3 .blog-post {
	    width: 100%!important;
	    padding-left: 0;
	    padding-right: 0;
	}

	.blog-posts-list.saxon-blog-col-mixed-1 {
	    display: block;
	}
	.blog-posts-list.saxon-blog-col-mixed-1 .blog-post {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.blog-posts-list.saxon-blog-col-mixed-1 .blog-post:nth-child(5n-3),
	.blog-posts-list.saxon-blog-col-mixed-1 .blog-post:nth-child(5n-1) {
	    padding-left: 0;
	    padding-right: 0;
	}
	.blog-posts-list.saxon-blog-col-mixed-1 .blog-post:nth-child(5n-2),
	.blog-posts-list.saxon-blog-col-mixed-1 .blog-post:nth-child(5n) {
	    padding-left: 0;
	    padding-right: 0;
	}

	.blog-posts-list.saxon-blog-col-mixed-2 {
	    display: block;
	}
	.blog-posts-list.saxon-blog-col-mixed-2 .blog-post {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}
	.blog-posts-list.saxon-blog-col-mixed-2 .blog-post:nth-child(3n-3),
	.blog-posts-list.saxon-blog-col-mixed-2 .blog-post:nth-child(3n-1) {
	    padding-left: 0;
	    padding-right: 0;
	}
	.blog-posts-list.saxon-blog-col-mixed-2 .blog-post:nth-child(3n-2),
	.blog-posts-list.saxon-blog-col-mixed-2 .blog-post:nth-child(3n) {
	    padding-left: 0;
	    padding-right: 0;
	}

	/* Blog navigation */
	.navigation-paging .wp-pagenavi {
		min-width: 0;
	}

	/* Posts navigation */
	.navigation-paging .nav-post-prev,
	.navigation-paging .nav-post-next {
		text-align: center;
	}
	.navigation-paging .nav-post-prev a,
	.navigation-paging .nav-post-next a {
		min-width: 150px;
	}
	.navigation-paging .nav-post-prev {
		margin-bottom: 10px;
	}

}

@media (max-width: 767px)  {

	/* Footer */
	.footer-shortcode-block {
		margin-left: 15px;
		margin-right: 15px;
	}
	.footer-sidebar.sidebar .widgettitle {
		margin-top: 20px!important;
	}
	.sidebar.footer-sidebar-2 > ul > li,
	.sidebar.footer-sidebar > ul > li {
	    width: 100%!important;
	}
	.sidebar.footer-sidebar > ul > li.widget {
		padding-right: 0!important;
	}
	.sidebar.footer-sidebar-2 > ul > li:nth-child(1) {
		order: 4;
		margin-bottom: 0;
	}
	.scroll-to-top.btn {
		right: 15px;
	}

	/* Homepage blocks */
	.saxon-blog-posts-slider .post-title {
	    max-width: 100%;
	}
	.saxon-blog-posts-slider .saxon-post-details {
		max-width: 100%;
	}
	.saxon-largepostsslider-block-wrapper .saxon-post .saxon-post-details-inner {
	    position: relative;
	    top: 0;
	    left: 0;
	    transform: none;
	}
	.saxon-largepostsslider-block-wrapper .saxon-post .post-title {
		padding-left: 0;
		padding-right: 0;
		font-size: 24px;
	}
	.saxon-carousel-block-wrapper .saxon-post .post-title {
		font-size: 24px;
	}
	.saxon-fullwidthpostsslider-block-wrapper .saxon-post .post-title {
		padding-left: 0;
		padding-right: 0;
		font-size: 24px;
	}
	.saxon-fullwidthpostsslider-block-wrapper .saxon-overlay-post.saxon-post .saxon-post-details {
	    min-height: 350px;
	}
	.saxon-postsgrid1-block-wrapper .col-md-4,
	.saxon-postsgrid2-block-wrapper .col-md-6,
	.saxon-postsgrid3-block-wrapper .col-md-3,
	.saxon-postsgrid4-block-wrapper .col-md-4,
	.saxon-postsgrid5-block-wrapper .col-md-3,
	.saxon-postsgrid6-block-wrapper .col-md-3 {
		width: 100%;
	}

	/* Blog layouts */
	.saxon-list-post.saxon-post {
	    display: block;
	}
	.saxon-list-post.saxon-post .saxon-post-image-wrapper {
	    width: 100%;
	    padding-bottom: 55%;
	    margin-bottom: 30px!important;
	    margin-right: 0;
	}
	.blog-posts-list.blog-layout-masonry,
	.col-md-8 .blog-posts-list.blog-layout-masonry {
	    -moz-column-count: 1;
	    -webkit-column-count: 1;
	    column-count: 1;
	}
	.col-md-8 .blog-posts-list.blog-layout-masonry .blog-post,
	.blog-posts-list.blog-layout-masonry .blog-post {
	    width: 100%;
	}

	/* WooCommerce */
	.woocommerce-breadcrumb {
		margin-top: 30px!important;
	}

	/* Page titles */
	.container-page-item-title.container {
		margin-left: 15px;
		margin-right: 15px;
	}
	.page-item-title-single {
		padding-top: 0;
		padding-bottom: 0;
	}
	.single-post .page-item-title-single .saxon-post .post-title,
	.page-item-title-single .page-title {
	    max-width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	    font-size: 28px;
	}

	/* Single post */
	.single-post .saxon-post .post-details-bottom .post-info-tags {
	    max-width: 100%;
	    width: 100%;
	    margin-bottom: 15px;
	}
	.single-post .saxon-post .post-details-bottom .post-info-tags:after {
		display: none;
	}
	.single-post .saxon-post .post-details-bottom .post-info-tags .tags {
	    white-space: normal;
	}
	.single-post .saxon-post .post-details-bottom .post-info-tags .tags {
		display: flex;
		flex-wrap: wrap;
	}
	.single-post .saxon-post .post-details-bottom .post-info-tags .tags a {
		margin-bottom: 3px;
		margin-right: 3px;
		flex-grow: 1;
	}
	.single-post .saxon-post .post-details-bottom .post-info-wrapper {
		flex-grow: 0;
	}
	.single-post .saxon-post .post-details-bottom .post-info-wrapper,
	.single-post .saxon-post .post-details-bottom .post-info-share {
		width: 50%;
	}
	.single-post .saxon-post .post-details-bottom {
		flex-wrap: wrap;
	}
	.single-post .saxon-post .post-details-bottom {
		justify-content: center;
	}

	/* Reduce all elements bottom margins */
	.comments-form-wrapper,
	.page-item-title-single,
	.author-bio,
	.navigation-post,
	.navigation-paging,
	.saxon-postsmasonry2-block-wrapper .col-md-5,
	.saxon-postsmasonry2-block-wrapper .col-md-4,
	.sidebar,
	.sidebar > ul > li,
	.sidebar.footer-sidebar-2 > ul > li,
	.saxon-featured-categories-wrapper .saxon-featured-category,
	.saxon-block.blog-post,
	.blog-posts-list + .saxon-block-button,
	.saxon-block .saxon-post,
	.saxon-block .saxon-block-button .btn,
	.html-block-container,
	.saxon-subscribe-block,
	.saxon-instagram-block-wrapper,
	.saxon-postsmasonry1-block-wrapper,
	.saxon-postsmasonry2-block-wrapper,
	.saxon-showcase1-block-wrapper,
	.saxon-postline-block-wrapper,
	body:not(.blog-style-corners-rounded):not(.blog-style-corners-rounded-large) .saxon-showcase2-block-wrapper,
	.saxon-showcase3-block-wrapper {
		margin-bottom: 40px;
	}
	.sidebar.footer-sidebar-2 > ul {
		padding-top: 40px;
	}
	.container-page-item-title.with-bg {
		margin-bottom: 50px;
	}

	/* Gutenberg */
	.wp-block-embed.alignleft,
	.wp-block-embed.alignright {
		width: 100%!important;
		margin-right: 0!important;
		max-width: 100%;
		float: none;
	}
	.wp-block-embed.alignleft .twitter-tweet,
	.wp-block-embed.alignright .twitter-tweet,
	.wp-block-embed.alignleft .EmbeddedTweet,
	.wp-block-embed.alignright .EmbeddedTweet {
		width: 100%!important;
		max-width: 100%;
	}
}

@media (max-width: 568px)  {

	/* Header */
	header .logo-link.logo-text {
		font-size: 30px!important;
	}
	header .logo-link > img {
	    max-width: 100%;
	}
	header .social-icons-wrapper a {
		margin-left: 4px;
		margin-right: 4px;
	}

	/* Single post */
	.blog-post .author-bio {
		margin-top: 0;
	}
	.blog-post .author-bio .author-image {
		display: table;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	blockquote,
	.blog-post .format-quote .entry-content {
		padding-left: 0;
		padding-right: 0;
	}
	blockquote {
	    font-size: 20px;
	    line-height: 25px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}

	/* 404 page */
	.page-404 {
	    margin: 30px auto;
	    width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-404 h1 {
	    font-size: 60px;
	    margin-bottom: 20px;
	}
	.page-404 h3 {
	    font-size: 25px;
	    margin-bottom: 35px;
	}

	/* Related posts */
	.blog-post-related-wrapper {
	    margin-left: 0;
	    margin-right: 0;
	}
	.blog-post-related-wrapper > h5 {
		margin-left: 0;
		margin-right: 0;
	}
	.blog-post-related-wrapper .saxon-post {
	    float: none;
	    width: 100%;
	    padding-right: 0;
	    padding-left: 0;
	}

	/* Pagination */
	.saxon-post-pagination .saxon-post-pagination-item {
		width: 100%;
		border: none;
		margin: 0;
		margin-top: 15px;
	}
	.saxon-post-pagination .saxon-post-pagination-item:last-child {
		margin-bottom: 15px;
	}

	/* Homepage blocks */
	.saxon-subscribe-block .mc4wp-form input[name="EMAIL"],
	.saxon-subscribe-block .mc4wp-form button[type="submit"] {
		display: block;
		width: 100%!important;
		margin: 0;
	}
	.saxon-subscribe-block .mc4wp-form input[name="EMAIL"] {
		margin-bottom: 15px;
	}

	/* Blog layouts columns structure */
	.blog-posts-list.saxon-blog-col-2 {
	    display: block;
	}
	.blog-posts-list.saxon-blog-col-2 .blog-post:nth-child(1n) {
	    width: 100%;
	    padding-right: 0;
	}
	.blog-posts-list.saxon-blog-col-2 .blog-post:nth-child(2n) {
	    padding-left: 0;
	}

	.blog-posts-list.blog-posts-list.saxon-blog-col-1-2 {
	    display: block;
	}
	.blog-posts-list.blog-posts-list.saxon-blog-col-1-2 .blog-post:not(:nth-child(1)) {
	    width: 100%;
	    padding-left: 0;
	}
	.blog-posts-list.blog-posts-list.saxon-blog-col-1-2 .blog-post:nth-child(2n) {
	    padding-right: 0;
	}

	/* Post templates */
	.saxon-overlay-post.saxon-overlay-short-post .post-title {
		font-size: 24px;
		padding-left: 30px;
		padding-right: 30px;
	}

	/* Gutenberg */
	.wp-block-columns .wp-block-column {
	    padding-left: 0;
	    padding-right: 0;
	}
	.wp-block-columns.has-2-columns.has-small-column .wp-block-column:nth-child(n),
	.wp-block-columns.has-2-columns.has-small-column .wp-block-column:nth-child(2n) {
	    flex-basis: 100%;
	}
}

@media (max-width: 480px)  {

	/* Single post */
	.author-bio {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.author-bio h3 {
	    font-size: 24px;
	}
	.author-bio .author-social-icons {
		margin-bottom: 0;
	}
	.navigation-post .nav-post-prev a.nav-post-title-link {
		padding-right: 0;
	}
	.navigation-post .nav-post-next a.nav-post-title-link {
		padding-left: 0;
	}
	.comment-meta .reply {
		float: none;
		text-align: right;
		position: relative;
		top: 40px;
	}
	.comment-meta .reply a {
		padding: 0px 5px;
	}
	.comment-author {
		width: 50px;
		margin: 15px 15px 15px 0;
	}
	.comment-metadata {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.comment-form .logged-in-as,
	.comment-form .comment-notes {
		text-align: center;
	}
	.comment-list .children li.comment {
		padding-left: 0;
	}
	.comment-list li:first-child {
		margin-top: 0;
	}
	.comment-author img {
		border-radius: 25px;
		width: 50px;
		height: auto;
	}

	/* OWL sliders */
	body .owl-theme .owl-controls .owl-buttons div,
	body .owl-theme .owl-controls .owl-pagination {
		display: none;
	}

	/* Footer */
	.footer-shortcode-block {
		margin-left: 0;
		margin-right: 0;
	}
	.sidebar.footer-sidebar {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 400px)  {

	/* Common */
	.tparrows,
	.tp-bullets {
		display: none!important;
	}

	/* Homepage blocks */
	.saxon-subscribe-block {
		padding-left: 30px;
		padding-right: 30px;
	}
}

/* Page title container width overrides for boxed layout */
@media (min-width: 768px) {
	.container-page-item-title.container {
		width: 720px;
	}
}
@media (min-width: 992px) {
	.container-page-item-title.container {
		width: 940px;
	}
}
@media (min-width: 1200px) {
	.container-page-item-title.container {
		width: 1140px;
	}
}
