/*
* Theme Dashboard Styles
*/
.theme-dashboard-wrapper .wp-badge {
	background-image: url(../../../img/developer-icon.png);
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
}
.theme-dashboard-wrapper .nav-tab {
	font-size: 15px;
}
.theme-dashboard-wrapper .feature-section.two-col h3:not(:first-child) {
	margin-top: 30px;
}
.theme-dashboard-wrapper .col.theme {
	margin-top: 0;
	margin-bottom: 30px;
}
.theme-dashboard-wrapper .theme-system-wrapper li {
	background-color: #ffffff;
	padding: 10px;
	margin: 0;
}
.theme-dashboard-wrapper .theme-system-wrapper li:nth-child(2n) {
	background-color: #FCFCFC;
}
.theme-dashboard-wrapper .text-color-highlight {
	color: #0073aa;
}
.theme-dashboard-wrapper .our-themes-title {
	margin-bottom: 30px;
}

/* Theme registration */
.theme-activation-wrapper {
    text-align: center;
}
.theme-activation-wrapper h1 {
    color: #0085BA;
    margin-bottom: 30px;
    margin-top: 50px;
}
.theme-activation-wrapper input[type="email"],
.theme-activation-wrapper input[type="text"] {
    padding: 11px 15px;
    font-size: 16px;
    width: 450px;
    margin-bottom: 10px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    border: 1px solid #ddd;
}
.theme-activation-wrapper input[type="email"]:focus,
.theme-activation-wrapper input[type="text"]:focus {
    border: 1px solid #0085BA;
}
.theme-activation-wrapper .activate-theme-btn,
.theme-activation-wrapper a.button {
    width: 450px;
    margin-top: 15px;
}
.theme-activation-wrapper input {
    margin-left: 2px;
    margin-right: 2px;
}
.theme-activation-wrapper p.text-large {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: left;
}
.theme-activation-wrapper p.text-grey {
    color: #AFAFAF;
}
.theme-activation-wrapper p.text-grey a {
    color: #AFAFAF;
}
.theme-activation-wrapper .activate-theme-subblink {
    display: block;
}
.theme-activation-wrapper .theme-activation-message {
    margin-top: 15px;
}
.theme-activation-wrapper .theme-activation-message .success {
    color: darkgreen;
}
.theme-activation-wrapper .theme-activation-message .error {
    color: red;
}
