/*
* Mega Menu frontend styles
*/

/* Boostrap menu override for fullwidth dropdowns */
.navbar,
.navbar-collapse,
.navbar .navbar-inner .container {
    position: static!important;
}

/* Styles */
.nav > li sup {
    border-radius: 3px;
    margin-left: 7px;
    background-color: #000000;
    color: #ffffff;
    font-size: 10px;
    padding: 0 5px;
    line-height: 1.8;
    display: inline-block;
    position: absolute;
    top: 0.3em;
}
.nav > li > a > sup {
    position: relative;
    top: -0.6em;
}
.navbar .sub-menu.mgt-menu-dropdown-left li.menu-item-has-children > a:after {
    content: "\f104";
}
.navbar .sub-menu.mgt-menu-dropdown-left li .sub-menu {
    right: 100%;
}
.nav .mega-menu-close {
    font-size: 40px;
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: -26px;
    cursor: pointer;
}
.nav > li.menu-item-multicolumn > .sub-menu > li {
	width: 249px;
}
.nav > li.menu-item-multicolumn > .sub-menu {
	width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav > li.menu-item-multicolumn > .sub-menu.sidebar-inside.megamenu-column-1 {
    padding-bottom: 0;
}
.nav > li > .sub-menu.sidebar-inside.megamenu-column-1.sidebar > li.widget {
    padding-bottom: 0;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-1 {
	width: 250px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-2 {
	width: 500px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-3 {
	width: 750px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-4 {
	width: 1000px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-5 {
	width: 1250px;
}
.nav > li.menu-item-multicolumn > .sub-menu.megamenu-column-5 > li {
	width: 20%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-1 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-1.sidebar > li.widget {
	width: 100%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-2 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-2.sidebar > li.widget {
	width: 50%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-3 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-3.sidebar > li.widget {
	width: 33.3333%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-4 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-4.sidebar > li.widget {
	width: 25%;
}
.nav > li.menu-item-multicolumn.mgt-menu-fullwidth-inside > .sub-menu.megamenu-column-5 > li,
.nav > li > .sub-menu.mgt-menu-fullwidth.megamenu-column-5.sidebar > li.widget {
	width: 20%;
}
.nav > li.mgt-menu-fullwidth-inside > .sub-menu {

}
.nav > li > .sub-menu.sidebar {
    padding: 15px;
    line-height: 1.75;
}
.nav > li > .sub-menu.sidebar h2 {
	margin-top: 15px;
}
.nav > li.menu-item-multicolumn > .sub-menu.sidebar h2 {
    margin-top: 0;
}
.nav > li > .sub-menu.sidebar > li.widget {
	width: 249px;
	padding: 15px;
    margin-bottom: 15px;
	border: none;
}
.nav > li > .sub-menu.sidebar > li.widget:last-child {
    margin-bottom: 0;
}
.nav > li > .sub-menu.sidebar > li.widget.widget_nav_menu {
	padding: 0;
}
.nav > li > .sub-menu.sidebar > li.widget.widget_nav_menu li.menu-item {
	margin-top: 0;
	margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav > li > .sub-menu.sidebar > li.widget.widget_nav_menu li.menu-item:first-child {
    padding-top: 0;
}
.nav > li > .sub-menu.sidebar > li.widget.widget_nav_menu li.menu-item > a {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.nav > li > .sub-menu.sidebar > li.widget.widget_nav_menu .widgettitle {
	padding-left: 25px;
}
.navbar .navbar-inner .container {
	position: relative;
}
.nav > li.mgt-menu-fullwidth-inside {
	position: static;
}
.nav > li > .sub-menu.mgt-menu-fullwidth {
	left: 30px;
	right: auto;
	position: absolute;
}
.nav > li > .sub-menu.megamenu-column-1 > li.menu-item-has-children:nth-of-type(1n+1) {
    clear: both;
}
.nav > li > .sub-menu.megamenu-column-2 > li.menu-item-has-children:nth-of-type(2n+1) {
    clear: both;
}
.nav > li > .sub-menu.megamenu-column-3 > li.menu-item-has-children:nth-of-type(3n+1) {
    clear: both;
}
.nav > li > .sub-menu.megamenu-column-4 > li.menu-item-has-children:nth-of-type(4n+1) {
    clear: both;
}
.nav > li > .sub-menu.megamenu-column-5 > li.menu-item-has-children:nth-of-type(5n+1) {
    clear: both;
}
.nav li .sub-menu.mgt-menu-bg-image {
	background-position: center center;
}
.nav > li.menu-item-multicolumn > .sub-menu > li.menu-item-has-children,
.nav > li.menu-item-multicolumn > .sub-menu.sidebar > li.widget {
    display: block;
	float: left;
	overflow: hidden;
}
.nav > li.menu-item-multicolumn > .sub-menu > li.menu-item-has-children:last-child,
.nav > li.menu-item-multicolumn > .sub-menu.sidebar > li.widget:last-child {
	border-right: none;
}
.nav > li.menu-item-multicolumn > .sub-menu > .menu-item-has-children > a,
.nav > li.menu-item-multicolumn > .sub-menu > .menu-item-has-children > a:hover {
    font-weight: normal;
    text-decoration: none;
    font-weight: bold;
}
.nav li.menu-item-multicolumn .sub-menu .sub-menu {
    position: inherit;
    display: block;
    box-shadow: none;
    transform: matrix(1, 0, 0, 1, 0, 0);
	-ms-transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(1, 0, 0, 1, 0, 0);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
}
.nav li.menu-item-multicolumn .sub-menu li .sub-menu {
	right: auto;
	margin-top: 0;
}
.nav li.menu-item-multicolumn .sub-menu .sub-menu {
	padding-top: 0;
	padding-bottom: 0;
}
.nav li.menu-item-multicolumn:hover .sub-menu .sub-menu {
	opacity: 1;
	visibility: visible;
}
.navbar li.menu-item-multicolumn .sub-menu li.menu-item-has-children > a:after {
	display: none;
}
.navbar li.menu-item-multicolumn .sub-menu li.menu-item-has-children > a[href="#"]:hover {
	background: transparent;
}
.nav > li.menu-item-multicolumn .sub-menu .sub-menu {
    background: transparent;
}

@media (min-width: 768px) {
	.nav > li.menu-item-multicolumn >.sub-menu li .sub-menu {
 		right: auto;
 		margin-top: 0;
 		border: none;
 	}
 	.nav li.menu-item-multicolumn .sub-menu li:hover .sub-menu {
 		right: auto;
	}
}

/* Posts List Widget styling for use in sidebar fullwidth row with 1 column */
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries .widgettitle {
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries > ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries > ul > li {
    padding-left: 15px;
    padding-right: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    width: 25%;
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries > ul > li.template-shortline {
    width: 33.33%;
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries li .saxon-post {
    margin-bottom: 30px!important;
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries li .saxon-post .post-author {
    display: none;
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries li .saxon-post.saxon-postsmasonry1-post.saxon-postsmasonry1_2-post .saxon-post-image-wrapper .post-categories {
    padding: 15px;
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries li .saxon-post.saxon-postsmasonry1-post.saxon-postsmasonry1_2-post .saxon-post-image-wrapper {
    margin-bottom: 15px;
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries li .saxon-post.saxon-postsmasonry1-post.saxon-postsmasonry1_2-post .post-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.mainmenu .mgt-menu-fullwidth-inside .megamenu-column-1.sidebar .widget.widget_saxon_list_entries li .saxon-post.saxon-overlay-alt-post .saxon-post-details {
    min-height: 280px;
}
